{% extends "base.html" %}
{% load staticfiles %}
 
{% block content %}

 <header class="intro-header" style="background-image: url('{% static 'images/tll_logo3.jpg'%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
 </header>
</div>
</div>

<div class="container thelanders">
<div class="homebio">
<div class="col-lg-6 hola">
	<h2>Hola! </h2>
       <p> And welcome to That Landers Life, a blog about (you guessed it) the life of The Landers.  We are the Landers, we being Bryce and Ash, who packed up our Texas lives in November 2016 and moved to the Emerald Isle with our two pups.  Our aim is to give you a glimpse into the adventures and mishaps we continually find ourselves in and hopefully provide a little humor and insight somewhere in there too.  We aren't really sure what insight we hope to provide, but y'all can use your imagination.  
    </p>
</div>
<div class="col-lg-6 four-of-us">
    <img class="us" src="{% static 'images/us_and_pups.jpg'%}" alt="">
</div>
</div>
</div>

{% endblock %}