{% extends "base.html" %}
{% load static%}
 
{% block content %}
       <div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Our Life in Photos</h1>
        </div>

        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all"><a href="{% url 'photos' %}">All</a></button>
            <button class="btn btn-default filter-button" data-filter="hdpe"><a href="{% url 'ireland' %}">Ireland</a></button>
            <button class="btn btn-default filter-button" data-filter="sprinkle"><a href="{% url 'girls' %}">The Girls</a></button>
            <button class="btn btn-default filter-button" data-filter="spray"><a href="{% url 'van' %}">The Van</a></button>
            <button class="btn btn-default filter-button" data-filter="irrigation"><a href="{% url 'friends' %}">Friends & Family</a></button>
        </div>
        <br/>


{% comment %}<section>{% endcomment %}
            {% comment %}<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>
        </div>
    </div>{% endcomment %}
</section>

{% for photo in photos %}
            
       <div class="product-container">
            <div class="left-block">
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{photo.tag}}">
                <div class="thumbnail">
                <img src= "{{ MEDIA_URL }}{{ photo.image }}" class="img-responsive" height="100%" width="100%">
            <div class="right-block">
                {% comment %}<figcaption><h4>"{{ product.name}}"</h4></figcaption>
                <p>"{{ product.description }}</p>{% endcomment %}

               {% comment %}<a href="{% url 'product_options' product.id %}">Buy</a>

               <form method="POST" action="/cart/add/{{product.id}}">
                {% csrf_token %}
                 <button class="btn btn-default filter-button">Buy</button></p>
                 </form>{% endcomment %}
                 </div>
                 </div>
                 </div>
                 </div>
        </div>

{% endfor %}
<script>
    $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});
</script>

{% endblock %}