{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Gift</th>
            <th>Description</th>
            <th>Price</th>
            <th>Donate</th>
        </tr>
        </thead>
        <tbody>
        {% for gift in donations %}
            <tr>
                <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></td>
                <td>{{ gift.name }}</td>
                <td>{{ gift.description }}</td>
                <td>{{ gift.price }}</td>
                <td><a href="{% url 'donate_now_stripe' gift.id %}" )>Donate</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}