{% load static from staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<head>
    <title>That Landers Life</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="{% static 'js/example.js'%}"></script>
    {% block head_js %}{% endblock %}
</head>
<body>
<!-- Fixed masthead -->
<div class="topnav" id="myTopnav">
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'photos' %}">Photos</a>
        <img src="{% static 'images/Legs.jpg' %}" alt="" width="300px">
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'donate' %}">Donate</a>
        <a href="{% url 'bio' %}">The Landers</a>
        <a href="javascript:void(0);"class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
</div>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


<div id="masthead">
    <div class="container">
        <div class="row">
            <h1> stack
                <p id="logo" class="lead">The Trials of a Bootcamp Developer</p>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <!--blog entries-->
                    {% block content %}
                    {% endblock %}
                    <!--blog entries-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
    </div>
</footer>
</body>
</html>